<!DOCTYPE html>


{% extends 'base.html' %}
{% load static %}

{% block title %} {{ title }} {% endblock %}


{% block stylesheet %}
<style>

    #breadAnchor1, #breadAnchor2{
        text-decoration: none;
        color: black;
        transition: .1s ease-in;
    }
    #breadAnchor1:hover{
        text-decoration: underline;
        color: black;
        font-weight: 700;
    }

    .fntawesomeIcon{
        font-size: 20px;
    }

</style>
{% endblock %}



{% block content %}

    <h1>Income List</h1>

    <div class="row d-flex align-items-center">
        <div class="col-md-10">
            <nav aria-label="breadcrumb" class="bg-light mt-3 rounded-3">
                <ol class="breadcrumb p-3">
                  <li class="breadcrumb-item"><a id="breadAnchor1" href="{% url 'expensesApp:home' %}">Dashboard</a></li>
                  <li class="breadcrumb-item active" aria-current="page"><a id="breadAnchor2" href="{% url 'incomeapp:incomeList' %}">Income List</a></li>
                </ol>
            </nav>
        </div>

        <div class="col-md-2">
            <a class="btn me-5" href="" style="background-color: #313c44; color: #f3f3f3; width:150px; position:relative; right:-20px;">Add Income</a>
        </div>
    </div>

    <div class="container" style="padding-bottom: 50px;">
        <div class="row d-flex justify-content-start mt-4">
            <h4 style="margin-left:-10px">All Expense List</h4>

            <!-- Search Box (Disabled) -->
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-4">
                    <form method="POST">
                        <div class="form-group">
                            <!-- added the id 'searchField' in the 'header_incomeList.html' in the headers folder -->
                            <input type="text" class="form-control" id="" placeholder="Search (Use the top search-box)" disabled>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Income table -->
            <div id="table-default">
                <table class="table table-hover mt-4">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Category</th>
                        <th scope="col">Description</th>
                        <th scope="col">Date</th>
                        <th scope="col">Amount 
                            <br/>
                            ( {{ currencyPref }} )
                        </th>
                        <th scope="col" class="text-center">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for income in incomeList %}
                    <tr>
                        <th scope="row"> {{ forloop.counter }} </th>
                        <td> {{ income.category }} </td>
                        <td> {{ income.description }} </td>
                        <td> {{ income.date | date:'Y-m-d' }} </td>
                        <td> {{ income.amount }} </td>
                        <td>
                            <div class="row">
                                <div class="col">
                                    <span class="fntawesomeIcon" style="position:relative; left:45px;">
                                        <a href="" style="color:black;"><i class="fa fa-edit"></i></a>
                                    </span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>


            <!-- paginator -->
            <div id="pagination-container">      <!-- hide paginator div while searching/displaying search-results -->
                <div class="row d-flex justify-content-center">
                    <div class="col">
                        {% if incomeList.has_other_pages %}
                        <nav aria-label="Page navigation" class="mt-3">
                            <ul class="pagination">
                                {% if incomeList.has_previous %}
                                <li class="page-item"><a class="page-link fw-bold" href="?page={{ incomeList.previous_page_number }}" style="background-color: #313c44; color: #f3f3f3;">Previous</a></li>
                                {% else %}
                                <li class="page-item disabled"><a class="page-link text-muted" href="#" style="background-color: #f3f3f3;">Previous</a></li>
                                {% endif %}

                                {% for pg in incomeList.paginator.page_range %}
                                    {% if pg <= incomeList.number|add:1 and pg >= incomeList.number|add:-1 %}
                                        {% if incomeList.number == pg %}
                                            <li class="page-item active"><a class="page-link fw-bold" href="#" style="background-color: #f3f3f3; color: #313c44; font-size:15px; border: 1.5px solid #313c44"> {{forloop.counter}} </a></li>
                                        {% else %}
                                            <li class="page-item"><a class="page-link" href="?page={{forloop.counter}}" style="background-color: #f3f3f3; color: #313c44;"> {{forloop.counter}} </a></li>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}

                                {% if incomeList.has_next %}
                                    <li class="page-item"><a class="page-link fw-bold" href="?page={{ incomeList.next_page_number }}" style="background-color: #313c44; color: #f3f3f3;">Next</a></li>
                                {% else %}
                                    <li class="page-item disabled"><a class="page-link" href="#" style="background-color: #f3f3f3;">Next</a></li>
                                {% endif %}
                            </ul>
                        </nav>
                        {% endif %}
                    </div>
                    <div class="col-9 d-flex align-items-center justify-content-end">
                        <!-- Show page numbers out of total page -->
                        <span>
                            Showing page &nbsp; <b>{{ incomeList.number }}</b> of <b>{{ incomeList.paginator.num_pages }}</b>
                        </span>
                    </div>
                </div>
            </div>





        </div>
    </div>

{% endblock %}