<!DOCTYPE html>

{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}


{% block stylesheet %}
<style>

    #breadAnchor1, #breadAnchor2{
        text-decoration: none;
        color: black;
        transition: .1s ease-in;
    }
    #breadAnchor1:hover{
        text-decoration: underline;
        color: black;
        font-weight: 700;
    }

    .fntawesomeIcon{
        font-size: 20px;
    }

</style>
{% endblock %}



{% block content %}

    <h1>Expenses List</h1>

    <div class="row d-flex align-items-center">
        <div class="col-md-10">
            <nav aria-label="breadcrumb" class="bg-light mt-3 rounded-3">
                <ol class="breadcrumb p-3">
                  <li class="breadcrumb-item"><a id="breadAnchor1" href="{% url 'expensesApp:home' %}">Dashboard</a></li>
                  <li class="breadcrumb-item active" aria-current="page"><a id="breadAnchor2" href="{% url 'expensesApp:addExpense' %}">Expenses List</a></li>
                </ol>
            </nav>
        </div>

        <div class="col-md-2 d-flex justify-content-end">
            <a class="btn btn-primary me-5" href="{% url 'expensesApp:createNewExpense' %}">Add Expense</a>
        </div>
    </div>

    <div class="container" style="padding-bottom: 50px;">
        <div class="row d-flex justify-content-start mt-4">
            <h4 style="margin-left:-10px">All Expense List</h4>
            
            {% if user.is_superuser %}
                <h5 class="text-danger">Only Admin (Superuser) can see this</h5>
                <strong class="text-danger">Will be used to add category btn functionality</strong>
            {% endif %}

            <!-- Expense table -->
            <table class="table table-hover mt-4">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Category</th>
                    <th scope="col">Description</th>
                    <th scope="col">Date</th>
                    <th scope="col" class="text-center">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for expenses in expenseList %}
                  <tr>
                    <td> {{ forloop.counter }} </td>
                    <td> {{ expenses.amount }} </td>
                    <td> {{ expenses.category }} </td>
                    <td> {{ expenses.description }} </td>
                    <td> {{ expenses.date | date:'d-m-Y' }} </td>
                    <td>
                        <div class="row justify-content-center">
                            <div class="col">
                                <span class="fntawesomeIcon" style="float:right; margin-right:-5px;">
                                    <a href="{% url 'expensesApp:updateExpense' expenses.id %}" style="color:black;"><i class="fa fa-edit"></i></a>
                                </span>
                            </div>
                            <div class="col">
                                <span class="fntawesomeIcon" style="float:left; margin-left:5px;">
                                    <a href="#" style="color:rgb(182, 21, 21);"><i class="fa fa-trash"></i></a>
                                </span>
                            </div>
                        </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}