<!DOCTYPE html>

{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}


{% block content %}

    <h1>It's a dashboard!</h1>

    <ul class="list-group">
        <li class="list-group-item">Bought T-shirt</li>
        <li class="list-group-item">Bought T-shirt</li>
        <li class="list-group-item">Bought T-shirt</li>
        <li class="list-group-item">Bought T-shirt</li>
        <li class="list-group-item">Bought T-shirt</li>
        <li class="list-group-item">Bought T-shirt</li>
        <li class="list-group-item">Bought T-shirt</li>
        <li class="list-group-item">Bought T-shirt</li>
        <li class="list-group-item">Bought T-shirt</li>
        <li class="list-group-item">Bought T-shirt</li>
    </ul>

{% endblock %}