<!DOCTYPE html>

<!-- Dedicated header for the searchfield id which is connected with the "static/js/searchExpense.js" file to search expense-data -->
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="{% url 'expensesapp:home' %}">Xpens-Tracker</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <input class="form-control form-control-dark w-100" id="searchField" type="text" placeholder="Search expense data by Category, Description, Date or Amount" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
        <!-- Button trigger modal -->
        <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#signoutModal">Sign out</a>
        </li>
    </ul>
</header>



<!-- Modals -->
{% include 'includes/modals/modalSignout.html' %}