<!DOCTYPE html>

<!-- Income Data Delete Modal -->
<div class="modal fade" id="incomeDelModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="incomeDelModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="incomeDelModalLabel">Delete?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Are you sure you want to delete?
            <br/>
            Category: <b> {{ incomeItem.category }} </b>
            <br/>
            Amount: <b> {{ incomeItem.amount }} </b>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <a class="btn btn-danger" href="{% url 'incomeApp:deleteIncome' incomeItem.id %}">Delete</a>
        </div>
        </div>
    </div>
</div>