<!DOCTYPE html>

{%  extends 'base_auth.html' %}

{% block title %} {{ title }} {% endblock %}


{% block content %}


    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">


            <div class="card" style="margin-top: 100px;">
                <div class="card-body">
                    <div class="card-title">
                        <h4>Login</h4>
                    </div>
                    <hr/>

                    <form method="POST">
                        {% csrf_token %}
                        {% load crispy_forms_tags %}
                        <!-- {{ form | crispy}} -->

                        <!-- form goes here -->
                        <div class="form-group p-3">
                            <div class = "form-row d-flex justify-content-center">
                                <div class = "col-sm-3 position-relative">
                                    <span class="position-absolute top-50 start-0 translate-middle-y">
                                        {{ form.username.label }}:
                                    </span>
                                </div>
                                <div class = "col-sm-9 text-center">
                                    {{ form.username }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group p-3">
                            <div class = "form-row d-flex justify-content-center">
                                <div class = "col-sm-3 position-relative">
                                    <span class="position-absolute top-50 start-0 translate-middle-y">
                                        {{ form.password.label }}:
                                    </span>
                                </div>
                                <div class = "col-sm-9 text-center">
                                    {{ form.password }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group p-1 mx-3">
                            <div class = "form-row d-flex justify-content-center">
                                {% include 'includes/flash_msg.html' %}
                            </div>
                        </div>
                        
                        <div class="form-group p-1 rounded mx-3">
                            <div class = "form-row d-flex justify-content-center">
                                <div class="col-sm d-grid gap-2">
                                    <button type="submit" class="btn" id="send_btn" style="background-color: #313c44; color: #f3f3f3;">Login</button>
                                </div>
                            </div>
                        </div>
                        
                        <br/><br/><br/>
                        <span class="badge bg-light text-dark">
                            <a href="{% url 'authenticationApp:register' %}">Don't have an account? Register Now!</a>
                        </span>
                    </form>
                </div>
            </div>


        </div>
        <div class="col-md-4"></div>
    </div>


{% endblock %}