<!DOCTYPE html>

{%  extends 'base_auth.html' %}

{% block title %} {{ title }} {% endblock %}


{% block content %}


    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">


            <div class="card" style="margin-top: 100px;">
                <div class="card-body">
                    <div class="card-title">
                        <h4>Register for a free account</h4>
                    </div>
                    <hr/>

                    <form method="POST">
                        {% csrf_token %}
                        {% load crispy_forms_tags %}
                        <!-- {{ form | crispy}} -->

                        <!-- form goes here -->
                        <div class="form-group p-3">
                            <div class = "form-row d-flex justify-content-center">
                                <div class = "col-sm-3">
                                    {{ form.username.label }}:
                                </div>
                                <div class = "col-sm-9 text-center">
                                    {{ form.username }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group p-3">
                            <div class = "form-row d-flex justify-content-center">
                                <div class = "col-sm-3">
                                    {{ form.email.label }}:
                                </div>
                                <div class = "col-sm-9 text-center">
                                    {{ form.email }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group p-3">
                            <div class = "form-row d-flex justify-content-center">
                                <div class = "col-sm-3">
                                    {{ form.password1.label }}:
                                </div>
                                <div class = "col-sm-9 text-center">
                                    {{ form.password1 }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group p-3">
                            <div class = "form-row d-flex justify-content-center">
                                <div class = "col-sm-3">
                                    {{ form.password2.label }}:
                                </div>
                                <div class = "col-sm-9 text-center">
                                    {{ form.password2 }}
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-info mt-5" id="send_btn">Register</button>
                        
                        <br/><br/><br/>
                        <a class="text-danger" href="{% url 'expensesapp:home' %}">Go to Dashboard</a>

                        <span class="badge bg-light text-dark">
                            <a href="{% url 'authenticationApp:login' %}">Already have an account? Login!</a>
                        </span>
                    </form>
                </div>
            </div>


        </div>
        <div class="col-md-4"></div>
    </div>


{% endblock %}